body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row{
  display: inline-block;
  list-style-type: none;
}

img{
  height:25em;
  width:20em;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;

}

#footer{
  background-color: cornflowerblue;
}